In [1]:
import json
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats

import pymysql
pymysql.install_as_MySQLdb()

from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
from urllib.parse import quote_plus as urlquote

In [2]:
basics = pd.read_csv('Data/title_basics.csv.gz',low_memory = False)
ratings = pd.read_csv('Data/title_ratings.csv.gz', low_memory = False)
year_2000 = pd.read_csv('Data/final_tmdb_data_2000.csv.gz', low_memory = False)
year_2001 = pd.read_csv('Data/final_tmdb_data_2001.csv.gz', low_memory = False)

## MySQL Database Connection

In [3]:
# loaing mysql credentials
with open('/Users/brookeeagan/.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [4]:
# creating connection to database with sqlalchemy
db_name = "movies"
connection = f"mysql+pymysql://{login['username']}:{login['password']}@localhost/{db_name}"
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/movies)

In [5]:
# check if database exists, if not, create it
if database_exists(connection):
    print('It exists')
else:
    create_database(connection)
    print('Database created!')

It exists

## Transformations

In [6]:
basics['genres_split'] = basics['genres'].str.split(',')
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama,[Drama]
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,NaN,126,Drama,[Drama]
...,...,...,...,...,...,...,...,...,...,...
87295,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,NaN,74,Drama,[Drama]
87296,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
87297,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama,[Drama]
87298,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
87299,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History","[Drama, History]"

In [7]:
exploded_genres = basics.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...
87298,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller",Action
87298,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller",Adventure
87298,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller",Thriller
87299,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History",Drama
87299,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History",History

In [8]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [9]:
unique_genres

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

In [10]:
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [11]:
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [12]:
title_genres['genre_id'] = title_genres['genres_split'].map(genre_map)
title_genres = title_genres.drop(columns='genres_split')

In [13]:
genre_lookup = pd.DataFrame({ 'Genre_Name': genre_map.keys(),
                            'Genre_ID': genre_map.values()})

genre_lookup.head()

  Genre_Name  Genre_ID
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

In [14]:
genre_lookup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Genre_Name  26 non-null     object
 1   Genre_ID    26 non-null     int64
dtypes: int64(1), object(1)
memory usage: 544.0+ bytes

## MySQL

### genres table

### title_basics table

In [15]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87300 entries, 0 to 87299
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          87300 non-null  object
 1   titleType       87300 non-null  object
 2   primaryTitle    87300 non-null  object
 3   originalTitle   87300 non-null  object
 4   isAdult         87300 non-null  int64
 5   startYear       87300 non-null  int64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  87300 non-null  int64
 8   genres          87300 non-null  object
 9   genres_split    87300 non-null  object
dtypes: float64(1), int64(3), object(6)
memory usage: 6.7+ MB

In [16]:
basics = basics.drop(columns = ['originalTitle', 'genres_split', 'isAdult', 'titleType', 'genres'])

In [17]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87300 entries, 0 to 87299
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          87300 non-null  object
 1   primaryTitle    87300 non-null  object
 2   startYear       87300 non-null  int64
 3   endYear         0 non-null      float64
 4   runtimeMinutes  87300 non-null  int64
dtypes: float64(1), int64(2), object(2)
memory usage: 3.3+ MB

### title_ratings table

In [18]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493046 entries, 0 to 493045
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         493046 non-null  object
 1   averageRating  493046 non-null  float64
 2   numVotes       493046 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 11.3+ MB

In [19]:

## Calculate max string lengths for object columns
#key_len = ratings['tconst'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
#df_schema = {
    #"tconst": String(key_len+1), 
    #"averageRating": Float(),
    #'numVotes':Integer()}

### title_genres table

In [20]:
title_genres.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 162982 entries, 0 to 87299
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   tconst    162982 non-null  object
 1   genre_id  162982 non-null  int64
dtypes: int64(1), object(1)
memory usage: 3.7+ MB

### tmdb_data table

In [21]:
tmdb_df = pd.read_csv('Data/tmdb_results_combined.csv.gz')

In [22]:
tmdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2544 entries, 0 to 2543
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2544 non-null   object
 1   adult                  2542 non-null   float64
 2   backdrop_path          1369 non-null   object
 3   belongs_to_collection  203 non-null    object
 4   budget                 2542 non-null   float64
 5   genres                 2542 non-null   object
 6   homepage               171 non-null    object
 7   id                     2542 non-null   float64
 8   original_language      2542 non-null   object
 9   original_title         2542 non-null   object
 10  overview               2491 non-null   object
 11  popularity             2542 non-null   float64
 12  poster_path            2283 non-null   object
 13  production_companies   2542 non-null   object
 14  production_countries   2542 non-null   object
 15  release_date           2525 non-null   object
 16  revenue                2542 non-null   float64
 17  runtime                2542 non-null   float64
 18  spoken_languages       2542 non-null   object
 19  status                 2542 non-null   object
 20  tagline                1088 non-null   object
 21  title                  2542 non-null   object
 22  video                  2542 non-null   float64
 23  vote_average           2542 non-null   float64
 24  vote_count             2542 non-null   float64
 25  certification          807 non-null    object
dtypes: float64(9), object(17)
memory usage: 516.9+ KB

In [23]:
from sqlalchemy.types import *
## Calculate max string lengths for object columns
key_len = basics['tconst'].fillna('').map(len).max()
title_len = basics['primaryTitle'].fillna('').map(len).max()
genre_name_len = genre_lookup['Genre_Name'].fillna('').map(len).max()
certification_len = tmdb_df['certification'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    'tconst': String(key_len+1), 'primaryTitle': Text(title_len+1),
    'start_year': Float(), 'runtime_minutes': Integer(),
    'average_rating': Float(), 'num_votes': Integer(),
    'genre_id': Integer(), 'Genre_Name': Text(genre_name_len+1),
    'imdb_id': String(key_len+1), 'revenue': Float(),
    'budget': Float(), 'certification': Text(certification_len+1)}

In [24]:
title_genres.to_sql('title_genre', engine, if_exists='replace', index=False)

162982

In [25]:
genre_lookup.to_sql('genres', engine, if_exists='replace', index=False)

26

In [26]:
engine.execute('ALTER TABLE genres ADD PRIMARY KEY (`Genre_ID`);')

In [27]:
# Save to sql with dtype and index=False
basics.to_sql('title_basics',engine,dtype=df_schema,if_exists='replace',index=False)

87300

In [28]:
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

In [29]:
ratings.to_sql('title_ratings', engine,dtype=df_schema, if_exists='replace', index=False)

493046

In [30]:
engine.execute('ALTER TABLE title_ratings ADD PRIMARY KEY (`tconst`);')

In [31]:
tmdb_df = tmdb_df.drop(columns = ['adult', 'backdrop_path', 'belongs_to_collection', 'homepage', 'genres', 'original_language', 'original_title', 'overview', 'popularity', 'poster_path', 'release_date', 'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'video', 'vote_average', 'vote_count', 'id', 'production_companies', 'production_countries'])

In [32]:
tmdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2544 entries, 0 to 2543
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   imdb_id        2544 non-null   object
 1   budget         2542 non-null   float64
 2   revenue        2542 non-null   float64
 3   certification  807 non-null    object
dtypes: float64(2), object(2)
memory usage: 79.6+ KB

In [34]:
tmdb_df.to_sql('tmdb_data', engine, dtype=df_schema, if_exists='replace', index=False)

2544

In [35]:
engine.execute('ALTER TABLE tmdb_data ADD PRIMARY KEY (`imdb_id`);')

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '0' for key 'tmdb_data.PRIMARY'")
[SQL: ALTER TABLE tmdb_data ADD PRIMARY KEY (`imdb_id`);]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

### MySQL Queries

In [ ]:
q = """
SHOW TABLES
"""
pd.read_sql(q, engine)

In [ ]:
q = """
SELECT * FROM title_basics
LIMIT 5
"""
pd.read_sql(q, engine)

In [ ]:
q = """
SELECT * FROM title_genre
LIMIT 5
"""
pd.read_sql(q, engine)

In [ ]:
q = """
SELECT * FROM title_ratings
LIMIT 5
"""
pd.read_sql(q, engine)

In [ ]:
q = """
SELECT * FROM genres
LIMIT 5
"""
pd.read_sql(q, engine)

In [ ]:
q = """
SELECT * FROM tmdb_data
LIMIT 5
"""
pd.read_sql(q, engine)